*.iml
.gradle
/local.properties
local.properties

.idea/*
!.idea/copyright
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/sonarlint/*
/.idea/JetClient/*
.DS_Store
/tmp
/build
/captures
.externalNativeBuild
.cxx

output.json
*.apk
*.aab
*.dex
.classpath

!.idea/icon.png
!.idea/icon_dark.png
!.idea/codeStyles
!.idea/inspectionProfiles

compose-metrics/
compose-reports/

*.hprof
